body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-family: 'Baskerville', Georgia, Times, serif; */
    font-size: 16px;
    line-height: 22px;
    padding: 15px;
    font-weight: 300;
    padding-bottom: 100px;
}

.small { display: none; }

header, footer, section, article {
	display: block;
}

#deets {
    line-height: 20px;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 220px;
    border-right: 1px solid #aaa;
    margin: 0;
}

#deets a {
    text-decoration: none;
    color: black;
}

#deets a:hover { border-bottom: 1px dotted #444; }

#links { 
    margin-top: 100px;
    font-size: 90%; 
}

#main-container { margin-left: 250px; }

#main {
    margin: 0 auto 50px auto;
    width: 800px;
}

#articles { margin-bottom: 30px; }
#archives-header { margin-bottom: 30px; }

.sink {
    position: absolute;
    bottom: 30px;
}

#by {
	font-style: italic;
    margin-right: 5px;
	font-size: 28px;
}

#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}

#path { color: #b53131; }

.date {
    font-size: 80%;
    float: right;
}

h1 a {
    font-size: 120%;
    text-decoration: none;
}

strong { font-weight: 400; }

a:hover { text-decoration: underline; }

body > header > h1 {
    border-left: 30px solid black;
    padding-left: 30px;
    font-size: 201px;
    margin: 100px 0 15px 0;
    font-weight: normal;
}

.post { padding-left: 20px; }

.post.blue { border-left: 4px solid #049cdb }
.post.blue a, .post.blue strong, .post.blue h1 { color: #049cdb }

.post.green { border-left: 4px solid #46a546 }
.post.green a, .post.green strong, .post.green h1 { color: #46a546 }

.post.red { border-left: 4px solid #9d261d }
.post.red a, .post.red strong, .post.red h1 { color: #9d261d }

.post.yellow { border-left: 4px solid #ffc40d }
.post.yellow a, .post.yellow strong, .post.yellow h1 { color: #ffc40d }

.post.orange { border-left: 4px solid #f89406 }
.post.orange a, .post.orange strong, .post.orange h1 { color: #f89406 }

.post.pink { border-left: 4px solid #de6fa1 }
.post.pink a, .post.pink strong, .post.pink h1 { color: #de6fa1 }

.post.purple { border-left: 4px solid #7a43b6 }
.post.purple a, .post.purple strong, .post.purple h1 { color: #7a43b6 }

.post.gray { border-left: 4px solid #999 }
.post.gray a, .post.gray strong, .post.gray h1 { color: #999 }

.post header {
	margin-bottom: 10px;
}

.post .body p:first-child {
	margin-top: 0;
}

.post .body p:last-child {
	margin-bottom: 0;
}

.post {
	margin-bottom: 30px;
}

.post.archived {
    margin-bottom: 5px;
}

.post:last-child {
    margin-bottom: 10px;
}

.post p {
    margin: 24px 0;
}

.post .more a {
    font-size: 80%;
}

.more a {
    text-decoration: none;
}

.more a:hover { text-decoration: underline }

body > header {
	display: block;
	padding-top: 30px;
	line-height: 180px;
	margin-bottom: 20px;
}

h1, h2, h3, h4 {
    display: inline;
    margin: 0;
    font-weight: 600;
}

ul, li {
    list-style-type: none;
}

code {
    font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', 'Menlo', Courier, mono;
    font-size: 14px;
}

pre {
    padding: 10px;
    background-color: #eee;
}

blockquote {
    font-style: italic;
}

body > footer {
    text-align: left;
    margin-left: 10px;
    font-style: italic;
    font-size: 18px;
    color: #888;
}

/* responsiveness */

@media (max-width: 1075px) {
    #main {
        margin: 0 auto 50px auto;
        width: 100%;
    }
}

@media (max-width: 760px) {
    
    .large { display: none; }
    .small { display: block; }
    
    .post { padding-left: 15px; }
    
    h1 { font-size: 120%; }
    h2 { font-size: 200%; }
    
    .date { font-size: 120%; }
    
    .post .more a { font-size: 100%; }
    
    .sink {
        float: right;
        position: relative;
        right: 30px;
        bottom: 50px;
    }
    
    #deets {
        padding-left: 20px;
        position: fixed;
        top: 0;
        height: 70px;
        border-bottom: 1px solid #aaa;
        width: 100%;
        background-color: #fff;
    }
    
    #deets p {
        position: relative;
        bottom: 12px;
        font-size: 120%;
    }
    
    #links-small {
        position: absolute;
        top: 40px;
        right: 100px;
    }
    
    #links-small .link {
        padding: 5px 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 3px solid #ddd;
    }
    
    #links-small .link:hover {
        background-color: #ddd;
    }
    
    #main {
        margin: 110px 10px 0 0;
        width: 100%;
    }
    
    #main-container {
        margin: 0 10px 0 5px;
    }
    
    body { padding: 0; margin: 0; }
    
    #archives-header { margin-left: 25px; }
}

@media (max-width: 500px) {
    #links-small { display: none; }
}
