<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="viewport" content="width=760">
    <title><%= title %></title>
  </head>
  <body>
    <header id="deets">
      <h2><a href="/">jscal.es</a></h2>
      <p>Jordan Scales <%= ['is a nerd', 'is a geek', 'is bored', 'doesn\'t talk much', 'likes you', 'likes code'].sample %>.</p>
      <div id="links" class="large">
        &gt; <a href="http://jordanscales.com">homepage</a><br />
        &gt; <a href="http://twitter.com/prezjordan">twitter</a><br />
        &gt; <a href="http://github.com/prezjordan">github</a><br />
      </div>
      <div id="links-small" class="small">
        <span class="link"><a href="http://jordanscales.com">homepage</a></span>
        <span class="link"><a href="http://twitter.com/prezjordan">twitter</a></span>
        <span class="link"><a href="http://github.com/prezjordan">github</a></span>
      </div>
      <div class="sink">Toto</div>
    </header>
    <section id="main-container">
      <div id="main">
        <%= yield %> 
      </div>
    </section>
    <footer>
      
    </footer>
    
    <!-- ga -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31899297-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
