<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="viewport" content="width=760">
    <title><%= title %></title>
  </head>
  <body>
    <header id="deets">
      <h2><a href="/">jscal.es</a></h2>
      <p>Jordan Scales <%= ['is a nerd', 'is a geek', 'is bored', 'doesn\'t talk much', 'likes you', 'likes code'].sample %>.</p>
      <div class="sink">Toto</div>
    </header>
    <section id="main-container">
      <div id="main">
        <%= yield %> 
      </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>
