<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header id="deets">
      <h2>Welcome</h2>
      <div class="sink">Toto</div>
    </header>
    <section id="main-container">
      <div id="main">
        <%= yield %> 
      </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>

